<div class="centered-card-container">
  <div class="centered-card">
    <h1 class="center-title">Reservas para la Cancha: <%= @cancha.nombre %></h1>
    <h2 class="center-title">Polideportivo: <%= @polideportivo.nombre %></h2>

    <% if @reservas.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
          </tr>
        </thead>
        <tbody>
          <% @reservas.each do |reserva| %>
            <tr>
              <td><%= reserva.cliente.nombre %></td>
              <td><%= reserva.cliente.telefono %></td>
              <td><%= reserva.cliente.email %></td>
              <td><%= reserva.fecha %></td>
              <td><%= reserva.hora_inicio.strftime("%H:%M") %></td>
              <td><%= reserva.hora_fin.strftime("%H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No hay reservas para esta cancha.</p>
    <% end %>

    <div class="button-container">
      <%= link_to "Volver a Canchas", polideportivo_canchas_path(@polideportivo), class: "button button-secondary" %>
    </div>
  </div>
</div>
