<div class="container">
  <!-- Título principal centrado -->
  <h1 class="title-centered">
    DETALLE DE <%= @polideportivo.nombre %>
  </h1>

  <!-- Botón para ir al inicio -->
  <div class="button-container">
    <%= link_to("HOME", polideportivos_path, class: "button button-primary") %>
  </div>
  <div class="button-container">
    <%= link_to("Agregar cancha", new_polideportivo_cancha_path(@polideportivo), class: "button button-primary") %>
  </div>

  <!-- Sección adicional para la información de contacto y mapa -->
  <div class="info-container">
  <h2>Información de Contacto</h2>
  <p><strong>Nombre:</strong> <%= @polideportivo.nombre %></p>
  <p><strong>Contacto:</strong> <%= @polideportivo.contacto %></p>
  <p><strong>Ubicación:</strong> <%= @polideportivo.ubicacion %></p>
  </div>


<!-- Verificar si hay canchas disponibles -->
<% if @canchas.present? %>
  <div class="card-container">
    <% @canchas.each do |cancha| %>
      <div class="card">
        <h2 class="card-title"><%= cancha.nombre %></h2>

        <!-- Imagen de la cancha -->
        <% if cancha.imagen.attached? %>
          <div class="card-image">
            <%= image_tag cancha.imagen, class: "card-image" %>
          </div>
        <% else %>
          <div class="card-image-placeholder">
            Imagen no disponible
          </div>
        <% end %>

        <!-- Contenido de la tarjeta -->
        <div class="card-content">
          <p class="card-category"><%= cancha.descripcion %></p>
          <p>Precio Día: S/ <%= cancha.precio_dia %></p>
          <p>Precio Noche: S/ <%= cancha.precio_noche %></p>

          <!-- Botones para reservar la cancha y ver reservas -->
          <div class="button-container">
            <%= link_to "Reservar cancha", new_polideportivo_cancha_reserva_path(@polideportivo, cancha), class: "button" %>
            <%= link_to "Ver reservas", polideportivo_cancha_reservas_path(@polideportivo, cancha), class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No hay canchas disponibles para este polideportivo.</p>
<% end %>

</div>
