<%= form_with(model: [@polideportivo, @cancha], local: true, html: { multipart: true }) do |form| %>
  <h1>Crear Nueva Cancha</h1>

  <div class="field">
    <%= form.label :nombre, "Nombre" %>
    <%= form.text_field :nombre, required: true %>
  </div>

  <div class="field">
    <%= form.label :descripcion, "Descripción" %>
    <%= form.text_area :descripcion, required: true %>
  </div>

  <div class="field">
    <%= form.label :precio_dia, "Precio Día (S/)" %>
    <%= form.number_field :precio_dia, step: 0.01, required: true %>
  </div>

  <div class="field">
    <%= form.label :precio_noche, "Precio Noche (S/)" %>
    <%= form.number_field :precio_noche, step: 0.01, required: true %>
  </div>

  <div class="field">
    <%= form.label :tipo, "Tipo de Cancha" %>
    <%= form.select :tipo, Cancha.tipos.keys.map { |k| [k.humanize, k] }, prompt: "Seleccione el tipo de cancha" %>
  </div>

  <div class="field">
    <%= form.label :imagen, "Imagen" %>
    <%= form.file_field :imagen %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Cancha" %>
  </div>
<% end %>
